<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.copia">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/copialogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/copialogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".EditActivities.PasswordResetActivity"></activity>
        <activity android:name=".EditActivities.FileAddActivity" />
        <activity android:name=".EditActivities.ImagesAddActivity" />
        <activity android:name=".EditActivities.NotesAddActivity" />
        <activity android:name=".EditActivities.SpecificationsEditActivity" />
        <activity android:name=".EditActivities.ConsultantsEditActivity" />
        <activity android:name=".EditActivities.ContractorsEditActivity" />
        <activity android:name=".EditActivities.SuppliersEditActivity" />
        <activity android:name=".EditActivities.ClientEditActivity" />
        <activity android:name=".EditActivities.FilesEditActivity" />
        <activity android:name=".EditActivities.ImagesEditActivity" />
        <activity android:name=".EditActivities.NotesEditActivity" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />
        <meta-data
            android:name="DATABASE"
            android:value="LocalStorage.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.copia" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>